@using ParadigmWatch.Models.ViewModels;
@using ParadigmWatch.Models;
@using ParadigmWatch.Infrastructure
@model WatchViewModel


@{
    ViewData["Title"] = Model.Watch.Name;
}



<p id="startingModel" class="hidden">@Model.Watch.Name</p>

<div id="threeGui">
    <ul data-role="listview" data-inset="true" data-shadow="false" id="GUI">
        @foreach (WatchPart part in Model.Watch.WatchParts)
        {
            <li data-role="collapsible" data-iconpos="right" data-inset="false">
                <h2 class="guiPartType">@part.PartType.Name</h2>
                <fieldset data-role="controlgroup" data-type="horizontal" style=" z-index:1">
                    <label>@part.Name<input type="checkbox" class="hidden"></label>

                </fieldset>
            </li>
            <li class="hidden">

                <p class="PartModelPath">@part.ModelPath</p>
                <p class="PartName">@part.Name</p>
                <p class="componentTypeId">@part.TypeId</p>

                <p class="ComponentName">@part.Name</p>
                <p class="textureMap">@part.TextureMap.ImagePath</p>
                <p class="metallnessProp">@part.Shader.Metalness</p>
                <p class="normalMap">@part.Shader.NormalMapPath</p>
                <p class="normalIntensity">@part.Shader.NormalMapIntensity</p>
                <p class="roughnessProp">@part.Shader.Roughness</p>
                <p class="EnvMapInt">@part.Shader.EnvMapIntensity</p>

            </li>

        }

    </ul>
</div>



<div id="canvas" class="ThreeDBackgroundSelector">
    <select onselect="getBGname()" id="bgDropDown" href="#">
        @foreach (var item in ViewBag.BGNames)
        {
            <option>@item.Text</option>
        }
    </select>
</div>

<script src="~/js/Three.js"></script>
<script src="~/js/GLTFLoader.js" type="module"></script>
<script src="~/js/TrackballControls.js" type="module"></script>
<script src="~/js/3dPlayground.js" type="module"></script>
