@using ParadigmWatch.Models;
@model IEnumerable<Watch>
@{
    ViewData["Title"] = "Paradigm watch";
}

<section id="hero">


    <div id="videoController">
        <video autoplay muted loop id="myVideo">
            <source src="~/video/backgroundComp1Morph.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <div class="videoContent">

            <button id="myBtn" onclick="myFunction()">pause</button>
        </div>
    </div>

    <div class="heroContent">
        <aside class="sideText">
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Award winning</h4>
                <p class="bigThinParagraph">By GTFO congress</p>
            </div>
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Swiss design</h4>
                <p class="bigThinParagraph">3000 moving parts</p>
            </div>

        </aside>


        <div class="slideCounter">
            <p id="currentSlide">01</p>
            <p class="classesRemaining">/03</p>
        </div>

        <div class="slideController">
            <div class="slideControllerButtons">
                <div id="back" class="control"></div>
                <div id="next" class="control"></div>
            </div>
            <div class="slideControllerButtons">
                <p class="lightParagraph sliderControlLabel">Back</p>
                <p class="lightParagraph sliderControlLabel">Next</p>
            </div>
        </div>


        <div class="slideDetails">
            <h2 class="productTitle">Apollo</h2>
            <p class="productShort">“MY AMAZING MOTTO IS SO GREAT, THAT IS UNSPEAKABLE”</p>
        </div>

        <div class="navigationLinks">
            <a id="secondaryLink" class="secondaryLink">Learn More</a>
            <a id="primaryLink" class="primaryLink">Build your own</a>
        </div>

        <div class="arrowController">
            <a id="arrowButton" href="#disclaimer"></a>
        </div>
    </div>
    <div class="slider">
        @foreach (var item in Model)
        {
            <div class="content wrapper">

                <div class="sliderElement" id="@item.Id">
                    <img class="sliderImg" src="~/Images/@item.WatchImagePath" alt="@item.Name" />
                    <h2 class="sliderText">@item.Name.ToUpper()</h2>

                </div>
            </div>
        }


    </div>

</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="disclaimer">
    <h2 class="disclaimer">PREMIUM QUALITY WATCHES</h2>
    <p class="text">
        A high-end futuristic watch tailor only for your hand!  Customize your own <br />
        watch to the finest detail in our 3D watch editor
    </p>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="productDisplay">
    <div class="sortProduct">
        <div class="sortContent">
            <div class="sortType">
                <div class="sortGrid">
                    <div class="sortGridRow">
                        <div class="sortGridBox"></div>
                        <div class="sortGridBox"></div>
                    </div>
                    <div class="sortGridRow">
                        <div class="sortGridBox"></div>
                        <div class="sortGridBox"></div>
                    </div>
                </div>
                <div class="sortList">
                    <div class="sortListRow">
                        <div class="sortListBox"></div>
                        <div class="sortListBox"></div>
                        <div class="sortListBox"></div>
                    </div>
                    <div class="sortListRow">
                        <div class="sortListRectangle"></div>
                        <div class="sortListRectangle"></div>
                        <div class="sortListRectangle"></div>
                    </div>


                </div>
            </div>
            <div class="sortBy">
                <label for="sortOrder" class="selector">Select by:</label>
                <select id="sortOrder">
                    <option value="A-Z">A to Z</option>
                    <option value="A-Z">Z to A</option>
                </select>
            </div>
        </div>
        <div class="separator"></div>
    </div>
    <div class="products">
        @foreach (var item in Model)
        {
            <div class="productContainer foo-2">
                <a class="productImage">
                    <img src="~/Images/@item.WatchImagePath" alt="" />
                </a>
                <div class="productDescription">
                    <div class="ellipseWrap"></div>
                    <h2>@item.Name</h2>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
    <button class="shop">Go to shop</button>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@

<section id="premise">
    <h3 class="disclaimer"> Premise</h3>
    <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
        Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
        blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
    </p>
</section>

@* ______________________________________            NEW SECTION           _________________________________________________ *@


<script src="~/js/ScrollReveal.js"></script>
<script src="~/js/main.js" type="text/javascript"></script>